<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Australia</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <html>
  <head>
    <title>WorldTour.com>Australia</title> 
  </head>
  <body>
    <h1 id="title">Australia</h2>
    
    <p id="tourist">Here are some of the locations you can go see in this country:<br>Great Barrier Reef Marine<br>Great Ocean Road<br>Kangaroo Island<br>Bondi Beach<br>Uluru-Kata Tjuta National Park <br>Park, Sydney Opera House</p>
    
    
    
    <p id="resturants">Here are some great places you can go to have a meal:<br>Attica - Ripponlea VIC<br>Tetsuya’s Restaurant - Sydney NSW<br>Vue de monde - Melbourne VIC<br>Sepia Restaurant - Sydney NSW</p>
 
    <p id="Hotels">These are some hotels you can stay in:<br>Radisson Blu Plaza Hotel - Sydney<br>Shangri-La Hotel - Cairns<br>Ovolo Woolloomooloo - Sydney<br>Hilton- Sydney</p>
  </body>
  
  

</body>

</html>
