<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Brazil</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <!DOCTYPE html>
<html>
  <head>
    <title>WorldTour.com >Brazil</title> 
  </head>
  <body>
    <h1 id="title">Brazil</h2>
    
    <p id="tourist">Here are a few of the most well known tourist atrractions: <br>Rio De Janeiro<br>Amazon<br>Christ the Redeemer<br>Sugarloaf mountain<br>Escadaria Selaron<br>Maracana</p>
    
    <p id="resturants">These are some of the resturants in Brazil:<br>L’Etoile<br>L’Atelier Decuisinier<br>Victoria Bakery</p>
 
    <p id="Hotels">These are some of the hotels in Brazil:<br>Miramar Hotel<br>Belmond Copacabana Palace<br>Arena Copacabana Hotel<br>Salinas Maragogi</p>
  </body>
  
  

</body>

</html>
