<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Chile</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <!DOCTYPE html>
<html>
  <head>
    <title>WorldTour.com >Chile</title> 
  </head>
  <body>
    <h1 id="title">Chile</h2>
    
    <p id="tourist">Here are some tourist atrractions you can go see in this country:<br>Strait of Magellan<br>Valle Nevado<br>Valle de la Luna<br>Ahu Tongariki<br>Tronador<br>Cordillera Paine<br></p>
    
    <p id="resturants">Some of the resturants in Chile are:<br>Sushi Sesamo in Santiago<br>Vina del Mar in Sativo Restaurant<br>Cafe Plaza Moro in Valparaiso<br>Concepcion in Hacienda Patagonia</p>
 
    <p id="Hotels">These are some of the hotels:<br>Hotel Plaza San Francisco<br>Hotel NoiCasa Atacama<br>Lucianok Hotel<br>Hotel Cumbres Lastarria</p>
  </body>
  
  

</body>

</html>
