body{font-family:Script; color:Aliceblue;  background-image: url(https://i.pinimg.com/originals/28/c3/72/28c372dff1dacfcf0dbcd75d24558ac6.jpg); 
  background-size: cover; 
  background-repeat: no-repeat;}

body{
  font-size: 200%;
  text-align: center;
  color: #F08080;
}

head{font-size: 100%;
      text-align}

#title { font-size: 300%;
text-align:center}

#resturants{font-size:100%;text-alighn:center;color:#F08080;font-family:script}


#hotels{font-size:100%;text-alighn:center;color:#F08080;font-family:script}
