<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>United States</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  
<html>
  <head>
    <title>WorldTour.com >United States</title> 
  </head>
  <body>
    <h1 id="title">United States</h2>
    
    <p id="tourist">Here are some of the places you can go tour in this country:<br>Hollywood Sign - California<br>Grand Canyon - Arizona<br>Statue of Liberty - New York City<br>White House - DC<br>Disney World - Florida<br>Waikiki - Hawaii</p>
    
    
    
    <p id="resturants">Here are some places you can go eat:<br>Charleston - Maryland<br>Highlands Bar and Grill - Alabama<br>Eleven Madison Park - New York<br>Everest - Illinois</p>
 
    <p id="Hotels">These are some hotels you can stay in:<br>The Nantucket Hotel & Resort - Massachusetts<br>Santa Maria Suites Hotel - Florida<br>The Inn at Lost Creek - Colorado<br>Casablanca Hotel - New York</p>
  </body>
  
  

</body>

</html>
