<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Argentina</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <!DOCTYPE html>
<html>
  <head>
    <title>WorldTour.com >Argentina</title> 
  </head>
  <body>
    <h1 id="title">Argentina</h2>
    
    <p id="tourist">Here are some of the popular tourist atrractions you can go see in this country:<br>Perito Moreno Glacier<br>Iguazú National Park<br>Teatro Colón<br>Garganta del Diablo<br>Buenos Aires</p>
    
    <p id="resturants">Some of the resturants in Chile are:<br>The Argentine Experience<br>Yin & Toni<br>Vonberry Coffee Club<br>Casa El Enemigo</p>
 
    <p id="Hotels">These are some of the local hotels:<br>Pasta Canteen<br>The Brick Hotel Buenos Aires<br>Park Hyatt Mendoza<br>Melia Recoleta Plaza</p>
  </body>
  
  

</body>

</html>
