<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Asia</title>
  <link rel="stylesheet" href="/asiastyle.css">
</head>
<body>
    <h1>Asia</h1>
    <a href="/views/india"><button type="button" id="b1">India</button></a>
    <button type="button" id="b2">China</button>
    <button type="button" id="b3">Japan</button>
    <button type="button" id="b4">South Korea</button>
</body>
</html>
