<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Australia</title>
  <link rel="stylesheet" href="/australiastyle.css">
</head>
<body>
    <h1>Australia</h1>
    <a href="/views/Australia"><button type="button" id="b1">Australia</button></a>
</body>
</html>
