<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Dominican Republic</title>



      <link rel="stylesheet" href=dominicanstyle.css">


</head>

  <body>
    <h1 id="title">Dominican Republic</h1>

    <p id="tourist_locations"><b>Tourist Locations</b><br>Los Tres Ojos<br>Cap Cana<br>Altos de Chavón<br>Catalina Island<br>Bávaro<br> Los Haitises National Park</p>

  <p id="restaurants"><b>Restaurants</b><br>Winston Grill & Patio<br>Filigrama<br>
 The Market<br>Blu Pool Bar</p>

    <p id="hotels"><b>Hotels</b><br>InterContinental Real Santo Domingo<br>Casas del XVI <br> Boutique Hotel Palacio<br>Embassy Suites by Hilton Santo Domingo
  </body>




</html>
