<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Egypt</title>



      <link rel="stylesheet" href="/egyptstyle.css">


</head>

  <body>

    <h1>Egypt</h1>
    <h2>Restraunts:</h2>
    <ul>
      <li>Cairo</li>
      <li>Indira Indian Restaurant</li>
      <li>Bab Al Qasr</li>
      <li>Esplanade Cafe Restaurant</li>
    </ul>
    <h2>Hotels:</h2>
    <ul>
      <li>Crystal Bay Resort</li>
      <li>Four Seasons Hotel Alexandria</li>
      <li>Robinson Club Soma Bay</li>
      <li>Jaz Aquamarine Resort</li>
    </ul>
    <h2>Places to go:</h2>
    <ul>
      <li>Giza pyramid complex</li>
      <li>Great Sphinx of Giza</li>
      <li>Abu Simbel temples</li>
      <li>Karnak</li>
      <li>Saqqara</li>
      <li>Siwa Oasis</li>

    </ul>

  </body>



</html>
