<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Europe</title>
  <link rel="stylesheet" href="/europestyle.css">
</head>
<body>
    <h1>Europe</h1>
    <a href="/views/france"><button type="button" id="b1">France</button></a>
    <a href="/views/italy"><button type="button" id="b2">Italy</button></a>
    <a href="/views/greece"><button type="button" id="b3">Greece</button></a>
    <a href="/views/unitedkingdom"><button type="button" id="b4">United Kingdom</button></a>
</body>
</html>
