<!DOCTYPE html>
<html>
  <head>
    <title>WorldTour.com >Greece</title>
    <link rel="stylesheet" type="text/css" href="/greecestyle.css">
  </head>
  <body>
    <h1 id="title">Greece</h2>

    <p id="tourist">These are a few of the best tourist atrractions you can go see in this country: <br>Vikos Gorge which is in Monodendri <br>Kleftiko Caves which is in Milos,<br> Greece, Simos Beach is located in Elafonisos<br>Acropolis Athens<br>Parthenon is located in Athens
</p>
    <p id="resturants">Some of the best resturants in Greece are:<br>Spondi, Athens<br>Aleria, Athen<br>Varoulko seaside, Seaside<br>Scala Vinoteca, Athens</p>

    <p id="Hotels">These are some of th top rated hotels:<br>Andronis Luxury Suites<br>Royal Olympic hotel<br>Grand resort Lagonissi<br>Athens Iconic Santorini</p>
  </body>
</html>
