<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>India</title>



      <link rel="stylesheet" href="indiastyle.css">


</head>

<body>

  <html>
  <head>
    <title>WorldTour.com > India</title>
  </head>
  <body>
    <h1 id="title">India</h1>

    <p id="tourist_locations"><b>Tourist Locations</b><br>Taj Mahal<br>Amer Fort<br>India Gate<br> Thekkady<br> Ellora Caves<br>Jama Masjid<br>Delhi</p>

  <p id="restaurants"><b>Restaurants</b><br>JW Cafe, Romano's<br> Nawab Saheb<br>
 Ark Bar<br>The Bohri Kitchen</p>

    <p id="hotels"><b>Hotels</b><br>The St. Regis Mumbai<br> The Lalit Mumbai<br>HITC Grand Central<br> Grand Hyatt Mumbai
  </body>



</body>

</html>
