<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Italy</title>



      <link rel="stylesheet" href="italystyle.css">


</head>

<body>

  <html>
  <head>
    <title>WorldTour.com >Italy</title>
  </head>
  <body>
    <h1 id="title">Italy</h1>

    <p id="tourist_locations"><b>Tourist Locations</b><br>Colosseum (Rome)<br>Amalfi Coast (Amalfi)<br>Leaning Tower of Pisa (Pisa)<br>Saint Mark's Basilica (Venice)<br>Grand Canal in (Venice)</p>

  <p id="restaurants"><b>Restaurants</b><br>Terrazza Borromini (Rome)<br>Riviera (Venice)<br> Caza Mezzali (Pisa)<br> I Sarti del Gusto (Cagliari)</p>

    <p id="hotels"><b>Hotels</b><br> La Minerva (Capri)<br> Hotel Moresco (Venice)<br>Portrait Roma (Rome)<br>Hotel Villa Carlotta (Taormina)
  </body>



</body>

</html>
