<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Madagascar</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  
<html>
  <head>
    <title>WorldTour.com >Madagascar</title> 
  </head>
  <body>
    <h1 id="title">Madagascar</h2>
    
    <p id="tourist">Here are some of the tourist locations you can visit in this country:<br>Île aux Nattes<br>Nosy Mangabe<br>Analamazaotra Special Reserve<br>Tsarabanjina<br>Tsingy de Bemaraha National Park<br>salo National Park</p>
    
    
    
    <p id="resturants">Here are some places you can go to feast:<br>Idylle Beach<br>Restaurant le Ravoraha<br>La Cambusa<br>Chez Nono - La Rhum Riz, Nosy</p>
 
    <p id="Hotels">These are some condos can rent:<br>Eden Lodge<br>Palissandre Cote Ouest Resort - Spa<br>Isalo Rock Lodge<br>Manga Soa Lodge<br>Soanambo Hotel
  </body>
  
  

</body>

</html>
