<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Mexico</title>



      <link rel="stylesheet" href="mexicostyle.css">


</head>

<body>

  <html>
  <head>
    <title>WorldTour.com > Mexico</title>
  </head>
  <body>
    <h1 id="title">Mexico</h1>

    <p id="tourist_locations"><b>Tourist Locations</b><br>Tulum<br>Xcaret Park<br>Sian Ka'an<br>El Castillo<br>Chichen Itza<br>Ik Kil
</p>

  <p id="restaurants"><b>Restaurants</b><br>Winston Grill & Patio<br>Filigrama<br>
 The Market<br>Blu Pool Bar</p>

    <p id="hotels"><b>Hotels</b><br>InterContinental Real Santo Domingo<br>Casas del XVI <br> Boutique Hotel Palacio<br>Embassy Suites by Hilton Santo Domingo
  </body>



</body>

</html>
