<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Morroco</title>



      <link rel="stylesheet" href="/moroccostyle.css">


</head>


  <body>
    <h1 id="title">Morroco</h2>

    <p id="tourist">Here are some of the tourist atrractions you can visit in this country:<br>Chefchaouen<br>Oudaias Kasbah<br>Hassan II Mosque<br>Marrakesh Medina<br>Toubkal<br>Majorelle Garden</p>



    <p id="resturants">Her are some places you can go to enjoy a meal:<br>Restaurant Riad Kalaa<br>Dar Zaki<br>Dinarjat<br> Ksar Es Saoussan</p>

    <p id="Hotels">These are some condos you can stay in:<br>Hotel & Spa Riad Dar Bensouda<br>Movenpick Hotel Casablanca<br>Hotel Sofitel Marrakech Palais Imper</p>
  </body>



</html>
