<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>North America</title>
  <link rel="stylesheet" href="/northamstyle.css">
</head>

<body>
    <h1>North America</h1>
    <a href="/views/canada"><button type="button" id="b1">Canada</button></a>
    <a href="/views/mexico"><button type="button" id="b2">Mexico</button></a>
    <a href="/views/dominican"><button type="button" id="b3">Domnican Republic</button></a>
    <a href="/views/unitedstates"><button type="button" id="b4">United Stated</button></a>
  </body>
</html>
