<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Peru</title>



      <link rel="stylesheet" href="/perustyle.css">


</head>

  <body>
    <h1 id="title">Peru</h2>

    <p id="tourist">Here are some famous tourist atrractions you can go see in this country:<br>Machu Picchu<br>Colca Canyon<br>Sacsayhuamán<br>Paracas National Reserve<br>Amantaní<br>Gocta Cataracts<br></p>

    <p id="resturants">Some of the resturants in Peru are:<br>Sonesta Hotel Cusco<br>sonesta Hotel Cusco<br>Los Robles, Casta Fior</p>

    <p id="Hotels">These are some of the hotels:<br>Casa Andina Premium Valle Sagrado Hotel & Villas<br>Jose Antonio Deluxe<br>Palacio del Inka<br>A Luxury Collection Hotel Cusco</p>
  </body>




</html>
