<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>south america</title>
  <link rel="stylesheet" href="/southamstyle.css">
</head>
<body>
  <h1>South America</h1>
  <a href="/views/brazil"><button type="button" id="b1">Brazil</button></a>
  <button type="button" id="b2">Peru</button>
  <a href="/views/chile"><button type="button" id="b3">Chile</button></a>
  <a href="/views/argentina"><button type="button" id="b4">Argentina</button></a>
</body>
</html>
