<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>South Africa</title>



      <link rel="stylesheet" href="/southafstyle.css">


</head>

  <body>
    <h1>South Africa</h1>
    <h2>Restraunts:</h2>
    <ul>
      <li>Cape Town Central=>Mzansi,</li>
      <li>Reverie Social Table</li>
      <li>Pretoria=>Restaurant Mosaic</li>
      <li>Durban=>Falafel Fundi
</li>
    </ul>
    <h2>Hotels:</h2>
    <ul>
      <li>Hotel Villa Lara(Bayeux)</li>
      <li>Southern Sun Elangeni & Maharani</li>
      <li>The Concierge Boutique Bungalows</li>
      <li>Goble Palms Guest Lodge & Urban Retreat</li>
    </ul>
    <h2>Places to go:</h2>
    <ul>
      <li>Kruger National Park</li>
      <li>Table Mountain</li>
      <li>Cape of Good Hope</li>
      <li>Boulders Beach</li>
      <li>Kirstenbosch National Botanical Garden</li>
      <li>Addo Elephant National Park</li>

    </ul>

  </body>




</html>
