<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>South Korea</title>



      <link rel="stylesheet" href="/south.css">


</head>


  <body>
    <h1 id="title">South Korea</h1>

    <p id="tourist_locations"><b>Tourist Locations</b><br>Myeong-dong (Seoul)<br>Gyeongbokgung Palace (Seoul)<br>N Seoul Tower (Seoul)<br>Everland (Yongin)<br>Changdeokgung Palace (Seoul)</p>

  <p id="restaurants"><b>Restaurants</b><br>Bonjeon Dwaeji Gugbap (Busan)<br>The party Haeundae (Busan)<br>Hotel shin shin (Uslan) <br>Tavolo 24(Seoul)</p>

    <p id="hotels"><b>Hotels</b><br>Gangnam family hotel (Seoul)<br>Pacific hotel (Seoul)<br>Hotel Shin Shin (Seoul)<br>Fraser Place Namdaemun Seoul (Seoul)
  </body>




</html>
