<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>United Kingdom</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <!DOCTYPE html>
<html>
  <head>
    <title>WorldTour.com >United Kingdom</title> 
  </head>
  <body>
    <h1 id="title">United Kingdom</h2>
    
    <p id="tourist">Here are a few of the most iconic tourist atrractions: <br>Stonehenge Windsor Castle<br>Big Ben<br>London eye<br>Tower of London<br>Buckingham Palace<br>Loch ness
</p>
    <p id="resturants">These are some of the famous resturants in the UK:<br>Core by Clare Smyth<br>The Golden Chippy<br>Amrutha Lounge</p>
 
    <p id="Hotels">These are some of the most luxurist hotels:<br>The Balmoral Hotel<br>Sofitel London Heathrow<br>Park Grand London Lancaster Gate<br>The Ritz London</p>
  </body>
  
  

</body>

</html>
