<!DOCTYPE html>
<html>

<head>
  <!-- <meta charset="UTF-8"> -->
  <title>Where in the world</title>
  <link rel="stylesheet" type="text/css" href="css/wherestyle.css">
</head>

  <body>
      <h1>Where In The World?</h1>
      <a href='/views/northamerica'><button type="button" id="b1"></button></a>
      <a href='/views/southamerica'><button type="button" id="b2"></button></a>
      <a href='/views/africa'><button type="button" id="b3"></button></a>
      <a href='/views/europe'><button type="button" id="b4"></button></a>
      <a href='/views/australia'><button type="button" id="b5"></button></a>
      <a href='/views/asia'><button type="button" id="b6"></button></a>
  </body>
</html>
