body{font-family:Script; color:Aliceblue;  background-image: url(https://images.alphacoders.com/125/125113.jpg); 
  background-size: cover; 
  background-repeat: no-repeat;}

body{
  font-size: 200%;
  text-align: center;
  color:#F4A460;
}

head{font-size: 100%;
      text-align}

#title { font-size: 300%;
text-align:center}

#resturants{font-size:100%;text-alighn:center;color:#F4A460;font-family:script}


#hotels{font-size:100%;text-alighn:center;color:#F4A460;font-family:script}
