body{font-family:Script; color:Aliceblue;  background-image: url(https://img.grouponcdn.com/deal/evzB5XBLf7LdetNVEEjv/vk-4234x2540.jpg/v1/c700x420.jpg); 
  background-size: cover; 
  background-repeat: no-repeat;}

body{
  font-size: 200%;
  text-align: center;
  color:#8B0000;
}

head{font-size: 100%;
      text-align}

#title { font-size: 300%;
text-align:center}

#resturants{font-size:100%;text-alighn:center;color:#18B0000;font-family:script}


#hotels{font-size:100%;text-alighn:center;color:#8B0000;font-family:script}
