

body {
background-image: url(http://www.desktopimages.org/pictures/2014/1227/1/drakensberg-mountains-tugela-river-royal-south-africa-wallpaper-66597.jpg); background-size: cover; background-repeat: no-repeat;}


h1 {font-size: 600%;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  position: relative; color: black; text-shadow: 7px 6px white;}

h2 { font-size: 300%;
  font family:'Great Vibes', cursive;
 color: white;
}

ul {font-size: 200%; color: white;}
